<div class="container">

  <h2>My Bookings</h2>

  <% @bookings.each do |booking| %>

  <div class="row">
    <!-- all displays except xs -->
    <div class="hidden-xs col-sm-6">
      <%= render 'users/bookings_table', booking: booking %>
    </div>
    <div class="hidden-xs col-sm-6">
      <%= render 'users/booking_card', booking: booking %>
    </div>

    <!-- xs displays -->
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
      <%= render 'users/booking_card', booking: booking %>
    </div>
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
      <%= render 'users/bookings_table', booking: booking %>
    </div>
  </div>

  <% end %>

</div>


