<div id="footer">
      <ul class="list-inline">
        <li><a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      </ul>
      <ul class="list-inline">
        <li>©Tooltime</li>
        <li><%= link_to "Terms and Conditions", root_path %></li>
        <li><%= link_to "FAQ", root_path %></li>
      </ul>
    </div>
