<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('');">
  <div class="banner-content">
    <h1>TOOLTIME</h1>
    <p>Find the tool you need. Every time.</p>
    <form action="#" class="form-inline">
      <input type="text" class="form-control input-lg" placeholder="What tool do you need?">
      <input type="text" class="form-control input-lg" placeholder="Where are you?">
        <select name="" id="" class="form-control input-lg">
        <option value="1">Gardening</option>
        <option value="2">Auto</option>
        <option value="3">Home Improvement</option>
        </select>
      <input type="submit" class="btn btn-primary btn-lg" value="Search">
        </form>
      </div>
    </div>
