html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.page-wrapper {
  min-height:100%;
  position:relative;
}
.container {
  padding-bottom: 70px;
}
h2 {
  text-align: center;
  padding-bottom: 15px;
}
