// Your footer style
#footer {
  background-color: #333333;
  background-size: cover;
  color: #CCCCCC;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  position: absolute;
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
}
#footer a {
  color: #CCCCCC;
  font-size: 16px;
}
#footer a:hover {
  color: white;
  text-decoration: none;
}
#footer .list-inline {
  padding: 10px;
  margin-bottom: 0;
}
#footer i {
  font-size: 29px;
}
#footer-small {
  background-color: #333333;
  background-size: cover;
  color: #CCCCCC;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  position: absolute;
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
}
#footer-small a {
  color: #CCCCCC;
  font-size: 11px;
}
#footer-small li {
  font-size: 11px;
  padding-right: 0px;
}
#footer-small a:hover {
  color: white;
  text-decoration: none;
}
#footer-small .list-inline {
  padding: 10px;
  margin-bottom: 0;
}
#footer-small i {
  font-size: 13px;
}
