.btn {
  border-radius: 5px;
  padding: 10px 15px;
}
.simple_form input.btn {
  border-radius: 5px;
  padding: 10px 15px;
  width: 120px;
}
.btn-holder {
  text-align: center;
}
.btn-tooltime {
  border-radius: 5px;
  padding: 10px 15px;
  width: 120px;
}
.btn-tooltime-sm {
  border-radius: 5px;
  width: 60px;
  padding: 2px;
}
.fb-btn {
  background-color: #3B5998;
  transition: background-color 0.2s ease;
}
.fb-btn:hover {
  background-color: #2d467a;
  color: white;
}
