.card {
  height: 350px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px 0px;
  color: white;
  position: relative;
}
.card-user {
  text-align: center;
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-user p {
  font-size: 12px
}

.card-user img {
  width: 30px;
}
.card-user i {
  font-size: 36px;
}
.card-category {
  text-align: center;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-category i {
  font-size: 36px;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.card-caption {
  margin: 2px;
  padding: 1px !important;
  p {
    font-size: 12px;
  }
  h4 {
    margin: 1px;
  }
}
