.action-card {
  height: 175px;
  background-size: cover !important;
  // background-color: rgba(163, 163, 163, 0.2);
  color: black;
  position: relative;
}
.action-card-title {
  text-align: left;
  position: absolute;
  left: 20px;
  top: 10px;
}
.action-card-thumb {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 150px;
  height: 100px;
  vertical-align: middle;
  background-repeat: no-repeat;
}
.action-card-edit {
  position: absolute;
  right: 20px;
  top: 10px;
}
.fa {
  padding-left: 10px;
  font-size: 16px;
}
.action-card-title a {
  text-decoration: none;
  color: black;
}
